

*{
    margin: 0;
    padding: 0;
}

header {
    height: 130px;
    width: auto;
    background-color: rgb(54, 54, 54);
   
}
.buttons{
    height: 41px;
    width: auto;
    border-top: 1px solid;
    border-color: rgb(211, 210, 210);
    background-color: rgb(54, 54, 54);
   
}
.button{
    margin-left: 25mm;
    padding: 1%;
    border: none;
    background-color:transparent;
    border-radius: 10%;
    color: white;
}

button:hover{
    background-color: rgba(197, 189, 189, 0.589); 
}

button:active{
    background-color: rgba(122, 122, 122, 0.589); 
    text-decoration: underline yellow;
    font-size: 18px;
}

.intro{
    background-color: rgb(148, 228, 148);
    height: 10cm;
    width: auto;
    margin: 4%;
    border-radius: 2%;
    box-shadow: 7px 18px 48px -8px rgba(0,0,0,0.83);
    -webkit-box-shadow: 7px 18px 48px -8px rgba(0,0,0,0.83);
    -moz-box-shadow: 7px 18px 48px -8px rgba(0,0,0,0.83);
}
.slika1{
    margin-top: 40px;
    box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);
-webkit-box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);
-moz-box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);

}
.uvod{
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
}
.history{
    text-align: left;
    font-size: 17px;
    padding: 2%;
    border-radius: 3%;
}
.modern{
    padding: 2%;
    margin-left: 47mm;
    border-radius: 15%;
    box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);
-webkit-box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);
-moz-box-shadow: 24px 14px 52px -19px rgba(0,0,0,0.83);

}
.today{
    margin-top:25px;
    background-color: rgba(231, 243, 194, 0.874);
    padding: 2%;
    text-align: left;
}
